.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 100px 0;

  h1 {
    color: #5f6369;
    font-weight: 600;
  }
}
