.input {
  background: #f7f8fd;
  border: 1px solid #dadae5;
  box-sizing: border-box;
  border-radius: 7px;
  height: 50px;
  padding: 15px 20px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #000;
  font-family: 'Proxima Nova';

  &:hover,
  &:focus {
    outline: none;
    border-color: #c4c4d6;
  }

  &::placeholder {
    color: #9d9da9;
    font-family: 'Proxima Nova';
  }
}

.labelText {
  font-size: 16px;
  line-height: 19px;
  color: #616173;
  margin-bottom: 5px;
}
