.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;

  li {
    margin: 0 8px;
    &:last-child,
    &:first-child {
      margin: 0;
    }
  }
}

.divider {
  width: 1px;
  height: 50px;
  background-color: #e6e6e6;
}
