.container {
  // max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  padding: 0 110px;
  position: relative;
  z-index: 1;
}

.head {
  padding: 22px 0;
}

.heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: #000;
  font-weight: 600;
}

.body {
  width: 100%;
}
