.sidebar {
}

ul.menu {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  min-height: 100px;
  color: #616173;
  transition: background-color 0.2s ease-in-out;
  padding: 5px;

  &:hover {
    background: #f9f9f9;
  }

  &.active {
    color: #faa61a;

    .icon {
      animation: bounceScale 0.25s ease-in-out forwards;
      background: #faa61a;
    }
  }
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  background: #d4d8e2;
  margin-bottom: 6px;
}

.itemText {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: inherit;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count {
  margin-left: auto;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
}

@keyframes bounceScale {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
